*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: 'Roboto', sans-serif;
  
  height: auto;
}

.conteiner{
  width: 100%;
  margin: auto;
  position: relative;
}


header{
  
  height: 200px;
  background-color: red;
  position: relative;
  
  
}

nav { 
  
  display: inline-block;
  height: 200px;
  position: fixed;
  right: 0;
  line-height: 200px;
  
  
 
}


nav ul li{
  display: inline;
 
  
}

.square{
  text-transform: uppercase;
  padding-right: 10px;
  background-color: rgb(245, 245, 237);
  border: 1px solid black;
  border-radius: 50%;
  padding: 25px;
  margin: 10px;
  font-size: 20px;
  box-shadow: 5px rgb(86, 90, 90);

}

.box{
 
  height: 150vh;
}

.box-red{
  background-color: red;
}

.box-green {
  background-color: green;
}
 
.box-yellow {
  background-color: yellow;
  color: green;
}

.layover .color{
  color: green;
}
  
.layover{
  height: 100%;
  position: relative;
 
  
  
}

.layover h1{
  position: absolute;
  color: yellow;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 
}




#adidas img  {
  width: 300px;
  height: 250px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  margin-bottom: 100px;


  
}
  
  



  

  
  



  



